<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Flask App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav>
        <a href="/index">Página Inicial</a>
        <a href="/contato">Contato</a>
    </nav>

    {% block conteudo%}
    {% endblock %}
    
    <h6> Projeto desenvolvido nos Studios Mea, projeto de site em python usando o framework flask,<br>
        em modo debug, toda alteração feita no código é refletida na página </h6>
</body>
</html>